# PostgreSQL (Neon)
DATABASE_URL="postgresql://user:password@host-pooler.region.aws.neon.tech/db?sslmode=require"
DIRECT_URL="postgresql://user:password@host.region.aws.neon.tech/db?sslmode=require"

# Generar con: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
AUTH_SECRET=""
WEBHOOK_SIGNING_SECRET=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"


PUBLIC_API_KEY="sk_test_3c2820b2dbd2e477f0af528eb829f1c1c033a2c8b312d1e5"
PUBLIC_API_RESTAURANT_ID="cms6xocs40000d8uxwh7zzqjf"

CRON_SECRET: z.string().min(20),