# PostgreSQL (Neon)
DATABASE_URL="postgresql://user:password@host-pooler.region.aws.neon.tech/db?sslmode=require"
DIRECT_URL="postgresql://user:password@host.region.aws.neon.tech/db?sslmode=require"

# Generar con: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
AUTH_SECRET=""
WEBHOOK_SIGNING_SECRET=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"